@import './utils/reset';
@import './utils/vars';
@import './utils/container';
@import './utils/button';
@import './utils/hidden';
@import './utils/butoon-filters';
@import './utils/card-set';




@import './components/header';
@import './components/hero';
@import './components/modal';
@import './components/modal-form';
@import './components/section-specifics';
@import './components/item-gallery';
@import './components/team';
@import './components/partners';
@import './components/footer';