.section.specifics {
    padding-top: 94px;
   
}
.section-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    width: 270px;
}
.section-list {
    display: flex;
    padding-left: 0px;
    padding-right: 0px;

    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    
    &__item:not(:last-child) {
        margin-right: 30px;
        }
}


.section-list-title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--title-text-calor);

    text-transform: uppercase;
}