.section-team {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #f5f4fa;
}
.title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.team-list {
    display: flex;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;

    & .team-item {
            width: 270px;
            background: var(--primary-white-color);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
        }
                & .team-item:not(:last-child) {
                    margin-right: 30px;
                }
}

.team-text {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team {
    margin-bottom: 10px;
    text-align: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--title-text-calor);
}
.section-team .text {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

// ICON TEAM

.socials-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}
.socials-item:not(:last-child) {
    margin-right: 10px;
}
.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        }
                &:hover .socials-icon,
                &:focus .socials-icon {
                    fill: var(--icon-last);
                }
}

.socials-icon {
    fill: var(--icon);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

